div[ngIf] {
    margin-top: 20px;
    padding: 10px;
    background-color: #2ecc71;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  div[ngIf]:hover {
    background-color: #27ae60;
  }
  
  
  h2 {
    color: #333;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  button {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #c0392b;
  }
  