<!DOCTYPE html>
<html lang="en">
<head>
    <title>My E-Commerce Store</title>
    <link rel="stylesheet" href="app.component.css">
</head>
<body>
    <header>
        <div class="top-bar">
            <div class="logo">
                <h1>E-COMMERCE</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
            <div class="cart">
                <a href="#">Cart (0)</a>
            </div>
        </div>
    </header>

    <section class="hero">
        <div class="hero-content">
            <h2>Welcome to MyStore</h2>
            <p><b> one-stop shop for all your shopping needs.</b></p>
            <a href="#">Shop Now</a>
        </div>
    </section>

    <section class="featured-products">
        <h3>Featured Products</h3>
        <div class="product">
            <img src="/assets/laptop.jpg" alt="Product 1">
            <h4>Product 1</h4>
            <p>Price: 103999.99</p>
            <a href="#">Add to Cart</a>
        </div>
        <div class="product">
            <img src="/assets/laptop2.jpg" alt="Product 2">
            <h4>Product 2</h4>
            <p>Price: 75929.99</p>
            <a href="#">Add to Cart</a>
        </div>
    </section>
    <router-outlet></router-outlet>

    <section class="Details">
        <h4>Product Management</h4>
        <ul>
          <li><a routerLink="getproducts" routerLinkActive="active">Product List</a></li>
          <li><a routerLink="createproduct" routerLinkActive="active">Add Product</a></li>
          <li><a routerLink="updateproduct" routerLinkActive="active">Update Product</a></li>
          <li><a routerLink="deleteproduct" routerLinkActive="active">Delete Product</a></li>
        </ul>
        <h4>Order-Management</h4>
        <ul>
          <li><a routerLink="getAllOrders" routerLinkActive="active">Order List</a></li>
          <li><a routerLink="insertOrder" routerLinkActive="active">Insert Order</a></li>
          <li><a routerLink="updateOrder" routerLinkActive="active">Update Order</a></li>
          <li><a routerLink="deleteOrder" routerLinkActive="active">Delete Order</a></li>
        </ul>
        <h4>Customer Management</h4>
        <ul>
          <li><a routerLink="getcustomers" routerLinkActive="active">Customers List</a></li>
          <li><a routerLink="createcustomer" routerLinkActive="active">Add Customer</a></li>
          <li><a routerLink="updatecustomer" routerLinkActive="active">Update Customer</a></li>
        </ul>
        <h4>Cart Management</h4>
        <ul>
          <li><a routerLink="getCartItems" routerLinkActive="active">Cart List</a></li>
          <li><a routerLink="insertcart" routerLinkActive="active">Add  Cart</a></li>
          <li><a routerLink="updatecart" routerLinkActive="active">Update Cart</a></li>
          <li><a routerLink="deletecart" routerLinkActive="active">Delete Cart</a></li>
        </ul>
    </section>

    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <h1>E-Commerce</h1>
            </div>
            <div class="footer-nav">
                <ul>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="social-media">
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">Instagram</a>
        </div>
    </footer>
</body>
</html>
